%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

i,
span,
em,
strong {
  @extend %in-b;
  vertical-align: middle;
}

a {
  @extend %in-b;
  cursor: pointer;
}

// 白色背景和圆角
.bc-br {
  background-color: #ffffff;
  border-radius: 4px;
}

/* 首页 */

.banner {
  position: relative;
  .hd {
    position: absolute;
    bottom: 45px;
    right: 22%;
    li {
      float: left;
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 50%;
      margin-right: 16px;
      cursor: pointer;
      &.on {
        width: 20px;
        border-radius: 4px;
      }
    }
  }
}

// 类别
.bw-class {
  height: 110px;
  position: relative;
  margin-bottom: 30px;
  .class-cont {
    width: 100%;
    height: 100%;
    @extend .bc-br;
    position: absolute;
    top: -15px;
  }
  ul {
    height: 100%;
    @extend %clearfix;
  }
  li {
    float: left;
    width: 25%;
    height: 100%;
    padding: 28px 0;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    .item {
      border-right: 1px dotted #9a9a9a;
      box-sizing: border-box;
    }
    position: relative;
    &.on {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #446ae6;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #446ae6;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &:last-child {
      .item {
        border-right: none;
      }
    }
    .bw-icon {
      width: 53px;
      height: 53px;
      margin-right: 10px;
    }
    .bw-icon,
    strong {
      vertical-align: middle;
    }
    .icon-1 {
      background: url("../images/sprites.png") -10px -60px;
    }
    .icon-2 {
      background: url("../images/sprites.png") -139px -10px;
    }
    .icon-3 {
      background: url("../images/sprites.png") -10px -133px;
    }
    .icon-4 {
      background: url("../images/sprites.png") -83px -133px;
    }
  }
}

// 大标题
.bw-title {
  font-size: 24px;
  line-height: 29px;
  .bw-icon {
    width: 32px;
    height: 32px;
    &.icon1 {
      background: url("../images/sprites.png") -274px -157px;
    }
    &.icon2 {
      width: 27px;
      height: 31px;
      background: url("../images/sprites.png") -156px -133px;
    }
    &.icon3 {
      width: 26px;
      height: 35px;
      background: url("../images/sprites.png") -83px -60px;
    }
    &.icon4 {
      width: 35px;
      height: 29px;
      background: url("../images/sprites.png") -212px -128px;
    }
    &.icon5 {
      width: 34px;
      height: 36px;
      background: url("../images/sprites.png") -274px -56px;
    }
    &.icon6 {
      width: 24px;
      height: 23px;
      background: url("../images/sprites.png") -54px -330px;
    }
    &.icon7 {
      width: 21px;
      height: 22px;
      background: url("../images/sprites.png") -388px -221px;
    }
    &.icon8 {
      width: 24px;
      height: 24px;
      background: url("../images/sprites.png") -342px -239px;
    }
    &.icon9 {
      width: 24px;
      height: 25px;
      background: url("../images/sprites.png") -342px -194px;
    }
    &.icon10 {
      width: 26px;
      height: 26px;
      background: url("../images/tk_5.png") no-repeat;
    }
    &.icon11 {
      width: 26px;
      height: 26px;
      background: url("../images/tk_6.png") no-repeat;
    }
  }
}

// 二级标题
.bw-sctitle {
  @extend %clearfix;
  line-height: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  .sc-l {
    float: left;
    font-size: 18px;
    span {
      margin-right: 6px;
    }
  }
  .sc-r {
    float: right;
    color: #999999;
  }
  .on {
    padding: 0 4px;
    font-weight: bold;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: #3969fd;
      position: absolute;
      left: 0;
      bottom: -12px;
    }
  }
}

// 图标列表
.icon-list {
  i {
    margin-right: 6px;
  }
}

// 圆圈列表
.circle-list {
  &::before {
    content: "";
    @extend %in-b;
    width: 3px;
    height: 3px;
    background-color: #666666;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
  }
}

// 正在直播
.bw-live {
  background: url(../images/live-1.png) no-repeat #ffffff;
  box-shadow: 1px 4px 17px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 40px;
  .bw-title {
    padding: 22px 30px;
    box-sizing: border-box;
    .bw-icon {
      width: 24px;
      height: 23px;
      background: url("../images/sprites.png") -54px -330px;
      margin-right: 10px;
    }
  }
  .live-cont {
    @extend %clearfix;
    padding: 0 0 10px 50px;
    box-sizing: border-box;
  }
  .cont-l {
    float: left;
  }
  .cont-r {
    float: left;
    li {
      line-height: 26px;
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 18px;
      margin-left: 70px;
      margin-bottom: 16px;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      .r-t {
        font-size: 16px;
        font-weight: bold;
        margin-left: -22px;
        .bw-icon {
          width: 9px;
          height: 9px;
          background: url("../images/sprites.png") -114px -301px;
        }
      }

      .r-row {
        color: #999999;
        span {
          color: #444444;
        }
      }
      .r-ap {
        padding: 0 8px;
        height: 28px;
        background-color: #fff6f4;
        border-radius: 4px;
        border: solid 1px #fe7449;
        box-sizing: border-box;
        color: #f7623a;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 18px;
        .r-icon {
          width: 16px;
          height: 16px;
          background: url(../images/yy-nor.png) no-repeat;
        }
      }
      &.on {
        .r-t {
          margin-left: -62px;
          .bw-icon {
            width: 49px;
            background: url("../images/sprites.png") -10px -301px;
          }
        }
        .r-ap {
          height: 28px;
          background-color: #ffffff;
          border-radius: 4px;
          border: solid 1px #275bfc;
          box-sizing: border-box;
          color: #2559fd;
          text-align: center;
          position: absolute;
          right: 0;
          bottom: 18px;
          .r-icon {
            width: 14px;
            height: 12px;
            background: url("../images/sprites.png") -431px -77px;
          }
        }
      }
    }
  }
}

// 按钮
.bw-btn {
  @extend %in-b;
  background-image: linear-gradient(-48deg, #ff5e2c 0%, #ff9979 100%);
  box-shadow: 0px 0px 5px 0px rgba(255, 98, 49, 0.5);
  border-radius: 4px;
  color: #fff;
}

// 问答
.cont-wd {
  @extend .bc-br;
  padding: 12px 14px 0;
  box-sizing: border-box;
  margin-bottom: 22px;
  .wd-detail {
    padding: 10px 4px;
    line-height: 28px;

    i {
      width: 16px;
      height: 16px;
      background: url(../images/w_1.png) no-repeat;
    }
    .detail-an {
      line-height: 20px;
      background-color: #f0f0f0;
      border-radius: 4px;
      padding: 10px 16px;
      box-sizing: border-box;
      margin: 10px 0;
    }
    .an-text {
      @include ells(2);
      span {
        display: inline;
        color: #666666;
      }
    }
  }
}

// 首页模块
.bw-post {
  margin-bottom: 40px;
  .bw-title {
    margin-bottom: 20px;
  }
  .post-cont {
    line-height: 26px;
    @extend %clearfix;
  }
  .cont-l {
    width: 835px;
    float: left;
  }

  // 问答
  .cont-wd {
    .wd-detail {
      @extend %clearfix;
      ul {
        width: 48%;
        float: left;
        &:nth-of-type(2) {
          float: right;
        }
      }
    }
  }

  // 右侧
  .cont-r {
    width: 347px;
    @extend .bc-br;
    float: right;
    padding: 14px;
    box-sizing: border-box;
    .r-guide {
      line-height: 33px;
      margin-right: -10px;
      margin-bottom: 10px;
      a {
        padding: 0 20px;
        background-color: #f0f0f0;
        border-radius: 4px;
        margin: 0 10px 10px 0;
        &:hover {
          background-color: #2a57de;
          color: #fff;
        }
      }
    }
    .r-detail {
      > div {
        display: none;
        &.on {
          display: block;
        }
      }
    }
    .news {
      ul {
        padding-top: 20px;
      }
    }
    .icon-list {
      @extend %clearfix;
      border-bottom: 1px solid #ededed;
      padding: 14px 0;
      &:last-child {
        border-bottom: none;
      }
      i {
        width: 11px;
        height: 12px;
        background: url("../images/sprites.png") -431px -302px;
        float: left;
        margin-top: 7px;
      }
      .list-r {
        float: left;
        width: 94%;
        line-height: 22px;
      }
      .list-b {
        width: 94%;
        .nnt {
          padding-left: 80px;
        }
        strong,
        a {
          color: #ff5e2c;
          font-weight: normal;
        }
        a {
          float: right;
          margin-top: 2px;
          i {
            width: 15px;
            height: 15px;
            background: url("../images/sprites.png") -194px -374px;
            margin-top: 4px;
          }
        }
      }
    }
    .r-t {
      color: #f7623a;
    }
  }
}

// 套餐
.cont-combo {
  @extend %clearfix;
  margin-right: -18px;
  .c-item {
    float: left;
    width: 266px;
    @extend .bc-br;
    padding: 0 13px 0 15px;
    box-sizing: border-box;
    margin-right: 18px;
    margin-bottom: 18px;
    .item-bg {
      position: relative;
      width: 266px;
      height: 150px;
      img {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: -15px;
      }
      .bg-hot {
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        line-height: 22px;
        color: #fff;
        padding-right: 6px;
        position: absolute;
        top: 12px;
        left: -2px;
        span {
          background-image: linear-gradient(90deg, #2358fc 0%, #517cff 100%);
          border-radius: 12px;
          padding: 0 6px;
          margin-top: -4px;
          margin-right: 6px;
        }
      }
    }
    .item-detail {
      border-bottom: 4px solid #f4f4f4;
      padding: 16px 0 10px;
      .detail-title {
        font-size: 16px;
      }
      .detail-time {
        font-size: 12px;
        color: #777777;
        span {
          margin-left: 16px;
        }
      }
      .detail-tea {
        padding-top: 10px;
        ul {
          white-space: nowrap;
          overflow-x: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          li {
            @extend %in-b;
            margin-right: 16px;
            text-align: center;
          }
        }
      }
    }
    .item-price {
      padding: 13px 0 17px;
      line-height: 26px;
      color: #ff5e2c;
      span {
        font-size: 20px;
      }
      em {
        vertical-align: bottom;
      }
      .bw-btn {
        padding: 0 7px;
        float: right;
      }
    }
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.51);
    }
  }
}

// 教研团队
.bar-slide {
  position: relative;
  .prev,
  .next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  .next {
    right: 0;
  }
  li {
    @extend %clearfix;
    .item {
      width: 20%;
      float: left;
      > img {
        width: 240px;
        height: 293px;
      }
    }
    .team-text {
      padding: 15px 13px;
      box-sizing: border-box;
      strong {
        font-weight: normal;
        font-size: 18px;
      }
      span {
        color: #999999;
        float: right;
        line-height: 26px;
      }
    }
  }
}

/* 频道页 */

// 课程试听
.axn-course {
  margin-bottom: 40px;
  @extend %clearfix;
  .c-l {
    float: left;
    width: 888px;
    // height: 405px;
    @extend .bc-br;
    padding: 20px 18px;
    box-sizing: border-box;
    .bw-sctitle {
      ul {
        float: left;
        line-height: 28px;
        padding-left: 10px;
        li {
          float: left;
          a {
            padding: 0 10px;
            color: #666666;
            &:hover {
              color: #415dfe;
            }
          }
        }
      }
    }
    .l-detail {
      padding-top: 18px;
      @extend %clearfix;
      .d-bg {
        float: left;
        img {
          width: 500px;
          height: 308px;
        }
      }
      .d-catalog {
        float: right;
        width: 332px;
        height: 308px;
        border: 1px solid #cccccc;
      }
    }
  }
  .c-r {
    float: right;
    width: 302px;
    // height: 405px;
    line-height: 28px;
    background-color: #ffffff;
    padding: 20px 10px 18px 16px;
    box-sizing: border-box;
    .r-title {
      font-size: 18px;
      font-weight: bold;
      @extend %one;
      margin-bottom: 10px;
    }
    .r-st {
      font-size: 12px;
      color: #999999;
    }
    .r-tea {
      padding: 30px 0 10px;
      ul {
        white-space: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          @extend %in-b;
          margin-right: 16px;
          text-align: center;
          .txt {
            padding-top: 10px;
          }
        }
      }
    }
    .r-time {
      height: 57px;
      background-color: #f2f2f2;
      border-radius: 3px;
      font-size: 12px;
      padding: 14px 0 14px 14px;
      box-sizing: border-box;
      margin-bottom: 20px;
      strong {
        font-weight: normal;
        color: #777777;
        padding-left: 10px;
      }
      em {
        padding: 0 6px 0 2px;
        color: #777777;
      }
    }
    .r-price {
      padding: 13px 0 17px;
      line-height: 26px;
      color: #ff5e2c;
      .txt {
        font-size: 26px;
      }
      em {
        vertical-align: sub;
      }
      .p-o {
        font-size: 12px;
        color: #999999;
        text-decoration: line-through;
      }
      .p-btn {
        float: right;
        border-radius: 4px;
        border: solid 1px #2358fc;
        color: #2358fc;
        padding: 0 10px;
        &:hover {
          background: #2358fc;
          color: #fff;
        }
      }
    }
    .bw-btn {
      width: 100%;
      height: 41px;
      line-height: 41px;
      border-radius: 21px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

// 近期直播
.axn-recent {
  margin-bottom: 40px;
  .bw-title {
    margin-bottom: 16px;
  }
  .r-live {
    .item {
      width: 389px;
      height: 123px;
      @extend %clearfix;
      @extend .bc-br;
      padding: 14px 12px;
      box-sizing: border-box;
      margin-right: 16px;
      &:nth-of-type(3) {
        margin-right: 0;
      }
      > img {
        float: left;
        width: 66px;
        height: 68px;
        border-radius: 50%;
        margin-top: 18px;
        margin-right: 15px;
      }
      .team-detail {
        float: left;
        width: 282px;
        .d-row {
          line-height: 28px;
          color: #999999;
          margin-bottom: 4px;
        }
        .row-yy {
          float: right;
          height: 28px;
          background-color: #fff6f4;
          border-radius: 4px;
          padding: 0 8px;
          box-sizing: border-box;
          i {
            width: 16px;
            height: 16px;
            background: url(../images/yy-nor.png) no-repeat;
          }
          span {
            color: #f7623a;
            line-height: 30px;
            margin-left: 6px;
          }
          &:hover {
            background-image: linear-gradient(90deg, #ff5e2c 0%, #ff9d7e 100%);
            span {
              color: #fff;
            }
            i {
              background: url(../images/yy-sel.png) no-repeat;
            }
          }
        }
        .row-ej {
          background-color: #e8eefe;
          border-radius: 4px;
          color: #4464c5;
          line-height: 21px;
          margin-right: 8px;
        }
        .d-title {
          color: #333333;
        }
        .icon-feel {
          width: 48px;
          height: 26px;
          background: url("../images/sprites.png") -139px -83px;
        }
      }
    }
  }
}

// 经典课程套餐推荐
.axn-combo {
  margin-bottom: 40px;
  .bw-title {
    margin-bottom: 20px;
    .more {
      float: right;
      font-size: 14px;
      color: #999999;
    }
  }
  .combo-cont {
    @extend %clearfix;
    margin-right: -20px;
    .c-item {
      float: left;
      width: 381px;
      background: #ffffff;
      border-radius: 12px 12px 4px 4px;
      margin-right: 20px;
      &:hover {
        box-shadow: 0px 0px 18px 0px rgba(3, 3, 3, 0.14);
      }
    }
    .i-head {
      text-align: center;
      font-size: 16px;
      padding: 25px 0 16px;
      &.might-bg {
        background: url(../images/c-o.png) no-repeat;
      }
      &.hipro-bg {
        background: url(../images/c-b.png) no-repeat;
        .h-time {
          color: #b5cbff;
        }
        .h-form {
          color: #3766d7;
        }
      }
      &.carefree-bg {
        background: url(../images/c-g.png) no-repeat;
        .h-time {
          color: #c0ffd3;
        }
        .h-form {
          color: #15b572;
        }
      }
      .h-title {
        font-size: 32px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 7px;
        font-weight: bold;
      }
      .h-time {
        color: #ffdacf;
        margin-bottom: 10px;
        strong {
          color: #ffe0aa;
        }
      }
      .h-form {
        width: 184px;
        height: 39px;
        line-height: 39px;
        background-color: #ffe0aa;
        border-radius: 20px;
        color: #e64942;
      }
    }
    .i-border {
      line-height: 24px;
      margin: 0 16px;
      border-bottom: 1px solid #f5f7f9;
      box-sizing: border-box;
    }
    .i-stage {
      min-height: 228px;
      padding-top: 14px;
      .s-row {
        @extend %clearfix;
        .row-left {
          float: left;
          width: 6px;
          height: 6px;
          background: url("../images/sprites.png") -247px -177px;
          margin: 9px 7px 0 5px;
        }
        .row-right {
          float: left;
          .r-title {
            font-weight: bold;
          }
          .r-text {
            color: #666666;
          }
        }
      }
    }
    .i-time {
      padding: 20px 10px;
      i {
        width: 13px;
        height: 13px;
        background: url("../images/sprites.png") -431px -44px;
      }
      strong {
        color: #ff5e2c;
      }
    }
    .i-data {
      padding: 14px 0 14px 12px;
      @extend %clearfix;
      .d-l {
        float: left;
        color: #666666;
        margin-right: 16px;
      }
      .d-r {
        float: left;
      }
    }
    .i-donate {
      min-height: 128px;
    }
    .i-swf {
      .icon-list {
        @extend %in-b;
        margin-right: 4px;
        i {
          width: 11px;
          height: 11px;
          background: url("../images/sprites.png") -431px -364px;
        }
      }
    }
    .i-serve {
      min-height: 153px;
      .d-r {
        width: 78%;
        padding-left: 2%;
      }
    }
    .i-price {
      .d-r {
        padding-left: 5%;
        i {
          width: 6px;
          height: 6px;
          background: url(../images/sprites.png) -247px -177px;
          margin-right: 4px;
        }
        .all {
          margin-right: 6px;
        }
        .txt {
          font-size: 20px;
          color: #ff5e2c;
        }
        em {
          color: #ff5e2c;
        }
        .p-o {
          color: #999999;
          text-decoration: line-through;
        }
      }
    }
    .i-btn {
      padding: 20px 0;
      font-size: 16px;
      text-align: center;
      a {
        line-height: 40px;
        border: solid 1px #ff5e2c;
        color: #ff5e2c;
        border-radius: 20px;
        padding: 0 34px;
        box-sizing: border-box;
        margin: 0 10px;
        &.bw-btn {
          border: none;
          color: #fff;
        }
      }
    }
  }
}

// 距2020年一级建造师考试还有
.axn-residue {
  padding: 6px 12px 0;
  .r-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .r-day {
    text-align: center;
    padding-left: 20px;
    .d-num {
      width: 44px;
      height: 51px;
      line-height: 51px;
      background-color: #f3f7ff;
      border-radius: 4px;
      font-size: 29px;
      color: #3365ff;
    }
    em {
      margin-left: 6px;
    }
  }
  .r-flow {
    padding-top: 20px;
    .flow-item {
      margin-bottom: 20px;
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 106%;
        background: url(../images/line.png);
        position: absolute;
        left: 4px;
        top: 20px;
      }
      .i-head {
        margin-bottom: 10px;
        .h-c {
          width: 9px;
          height: 9px;
          background: url(../images/c-nor.png) no-repeat;
        }
        .h-text {
          width: 62px;
          height: 26px;
          background: url("../images/sprites.png") -10px -206px;
          color: #fff;
          text-align: center;
          margin-right: 6px;
        }
        .h-time {
          color: #ff5e2c;
        }
      }
      .i-detail {
        margin-left: 18px;
        background-color: #f9f9f9;
        padding: 8px 0 8px 22px;
        box-sizing: border-box;
        span {
          margin-right: 20px;
        }
      }
      &.on {
        .i-head {
          .h-c {
            background: url("../images/sprites.png") -114px -301px;
          }
          .h-text {
            background: url("../images/sprites.png") -92px -206px;
          }
        }
        .i-detail {
          background-color: #f3f7ff;
        }
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }
}

// 相关资讯
.d-answer {
  padding: 14px;
  background-color: #f2f2f2;
  border-radius: 4px;
  @extend %clearfix;
  margin: 10px 0;
  .an-l {
    float: left;
    width: 95px;
    height: 72px;
    border-radius: 4px;
    margin-right: 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .an-r {
    float: left;
    width: 70%;
    .r-title {
      font-weight: bold;
    }
    .r-text {
      line-height: 21px;
      @include ells(2);
    }
  }
}

// 课程试听
.feel-listen {
  padding-top: 24px;
  .l-left {
    float: left;
    .g-item {
      height: 102px;
      background: #ffffff;
      padding: 25px 28px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    .on {
      background-color: #e3eeff;
      .g-row {
        .r-play {
          width: 14px;
          height: 12px;
          background: url("../images/sprites.png") -431px -77px;
        }
      }
    }
    .g-row {
      margin-bottom: 4px;
    }
    .r-title {
      font-size: 16px;
      font-weight: bold;
    }
    .r-listen {
      width: 48px;
      height: 26px;
      background: url("../images/sprites.png") -274px -10px;
      margin-left: 7px;
    }
    .r-text {
      width: 196px;
      @extend %one;
      color: #666666;
    }
    .r-play {
      width: 20px;
      height: 20px;
      background: url("../images/sprites.png") -10px -374px;
    }
  }
  .l-catalog {
    float: left;
    margin-right: 15px;
    .prev,
    .next {
      width: 132px;
      height: 43px;
      line-height: 43px;
      background-color: #ffffff;
      border-radius: 4px;
      text-align: center;
    }
    .prev {
      i {
        width: 15px;
        height: 9px;
        background: url("../images/sprites.png") -79px -301px;
      }
    }
    .next {
      float: right;
      i {
        width: 15px;
        height: 9px;
        background: url("../images/sprites.png") -212px -177px;
      }
    }
  }
  .l-detail {
    float: left;
    padding: 13px 14px;
    background: #ffffff;
    .d-bg {
      width: 574px;
      height: 353px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .c-r {
    height: 379px;
  }
}

// 选择课程类别：
.listen-course {
  height: 78px;
  background: url(../images/l-bg_1.png) no-repeat;
  margin-bottom: 20px;
  padding: 22px 0 22px 24px;
  box-sizing: border-box;
  line-height: 33px;
  .c-k {
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  ul {
    float: left;
  }
  li {
    float: left;
    margin-right: 18px;
    a {
      border-radius: 16px;
      border: solid 1px #cdcdcd;
      padding: 0 18px;
      box-sizing: border-box;
      background-color: #ffffff;
      &:hover {
        border: solid 1px #3e6dfe;
      }
    }
  }
  .on {
    a {
      border: solid 1px #3e6dfe;
      color: #3e6dfe;
    }
  }
}

// 课程列表
.course-list {
  .c-item {
    width: 288px;
    margin-right: 16px;
    .detail-title {
      line-height: 25px;
      padding: 20px 0 10px;
    }
    .item-detail {
      border-bottom: 1px solid #e6e6e6;
    }
    .item-bg {
      width: 260px;
      height: 146px;
      img {
        top: 14px;
        left: 0;
      }
      .bg-hot {
        left: 10px;
        top: 20px;
      }
    }
    .d-intro {
      color: #777777;
    }
    .p-btn {
      float: right;
      border-radius: 4px;
      line-height: 26px;
      padding: 0 10px;
      box-sizing: border-box;
      border: solid 1px #ff5e2c;
      color: #ff5e2c;
      &:hover {
        background: #ff5e2c;
        color: #fff;
      }
    }
  }
}

/* 课程终端 */

// 免费试听2
.free-trial {
  margin: 10px 0 22px;
  padding: 24px;
  box-sizing: border-box;
  @extend %clearfix;
  @extend .bc-br;
  .t-left {
    float: left;
    margin-right: 30px;
  }
  .t-right {
    width: 590px;
    float: left;
    line-height: 28px;
    .r-title {
      font-size: 18px;
      font-weight: bold;
      @extend %one;
      // margin-bottom: 10px;
    }
    .r-st {
      font-size: 12px;
      color: #999999;
    }
    .r-time {
      font-size: 12px;
      margin-bottom: 10px;
      strong {
        font-weight: normal;
        color: #777777;
        padding-left: 10px;
      }
      em {
        padding: 0 6px 0 2px;
        color: #777777;
      }
    }
    .r-price {
      width: 100%;
      height: 63px;
      background-color: #fff6f4;
      padding: 17px 0 16px 13px;
      box-sizing: border-box;
      margin-bottom: 18px;
      .p-key {
        float: left;
        em {
          margin-right: 20px;
        }
        .p-text,
        .p-o,
        strong,
        .symbo {
          color: #ff5e2c;
        }
        .p-text {
          font-size: 18px;
        }
        strong {
          font-size: 28px;
        }
        .symbo {
          vertical-align: bottom;
          margin-right: 8px;
        }
        .p-o {
          color: #999999;
          text-decoration: line-through;
        }
      }

      .p-ticket {
        float: right;
        position: relative;
        .t-head {
          width: 164px;
          padding-right: 18px;
          box-sizing: border-box;
          position: absolute;
          right: 0;
          top: 0;
          .h-limit {
            color: #fff;
            width: 109px;
            height: 30px;
            line-height: 30px;
            background: url("../images/sprites.png") -10px -10px;
            text-align: center;
          }
          .h-btn {
            float: right;
            color: #ff5e2c;
            cursor: pointer;
          }
        }
        .t-detail {
          display: none;
          width: 240px;
          line-height: 22px;
          background-color: #ffffff;
          box-shadow: 0px 2px 6px 0px rgba(170, 170, 170, 0.25);
          border-radius: 4px;
          border: solid 1px #e6e6e6;
          color: #ff5e2c;
          padding: 13px 16px 8px 10px;
          box-sizing: border-box;
          position: absolute;
          top: 34px;
          right: 0;
          .d-row {
            margin-bottom: 6px;
          }
          i {
            width: 61px;
            height: 22px;
            background: url("../images/sprites.png") -174px -206px;
            text-align: center;
            margin-right: 8px;
          }
          .row-limit {
            color: #444444;
          }
          .get {
            float: right;
            color: #ff5e2c;
            text-decoration: underline;
          }
        }
      }
    }
    .r-choice {
      height: 26px;
      @extend %clearfix;
      margin-bottom: 10px;
      position: relative;
      .c-key {
        color: #999999;
        float: left;
        margin-right: 4px;
      }
      .c-detail {
        float: left;
        width: 526px;
        height: 50px;
        overflow: hidden;
        border-radius: 4px;
        padding: 12px 0 0 10px;
        box-sizing: border-box;
        background: #ffffff;
        border-radius: 4px;
        // border: 1px solid pink;
        position: absolute;
        top: -12px;
        right: 0;
        ul {
          @extend %clearfix;
        }
        li {
          float: left;
          border-radius: 4px;
          border: solid 1px #c1c1c1;
          padding: 0 10px;
          box-sizing: border-box;
          margin-right: 10px;
          margin-bottom: 9px;
        }
        .d-btn {
          color: #999999;
          cursor: pointer;
          position: absolute;
          top: 9px;
          right: 8px;
          i {
            width: 10px;
            height: 7px;
            background: url("../images/sprites.png") -388px -346px;
            margin-left: 4px;
          }
        }
      }
      .on {
        height: auto;
        box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.51);
        .d-btn {
          i {
            width: 10px;
            height: 7px;
            background: url("../images/sprites.png") -143px -301px;
            margin-left: 4px;
          }
        }
      }
    }
    .r-sever {
      clear: both;
      .s-key {
        color: #999999;
        margin-right: 16px;
      }
    }
    .r-btn {
      padding: 20px 0;
      font-size: 16px;
      a {
        line-height: 40px;
        border: solid 1px #ff5e2c;
        color: #ff5e2c;
        border-radius: 20px;
        padding: 0 34px;
        box-sizing: border-box;
        margin: 0 10px;
        &.bw-btn {
          border: none;
          color: #fff;
        }
      }
    }
  }
}

// 课程终端内容
.kc-cont {
  @extend %clearfix;
  margin-bottom: 36px;
  .cont-l {
    float: left;
    width: 810px;
    @extend .bc-br;
    margin-right: 18px;
    padding: 16px 20px;
    box-sizing: border-box;
    .tab-head {
      @extend %clearfix;
      line-height: 26px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ededed;
      box-sizing: border-box;
      ul {
        @extend %clearfix;
      }
      li {
        float: left;
        width: 18%;
        font-size: 18px;
        padding: 0 4px;
        box-sizing: border-box;
        color: #666666;
        text-align: center;
        cursor: pointer;
        position: relative;
        i {
          width: 44px;
          height: 25px;
          background: url("../images/sprites.png") -274px -112px;
          position: absolute;
          top: -8px;
        }
        span {
          margin-right: 6px;
        }
        em {
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 0px;
          color: #999999;
        }
        &:first-child {
          text-align: left;
        }
        &:last-child {
          float: right;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: 32%;
        }
      }
      .on {
        color: #333333;
        font-weight: bold;
        .text {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            height: 4px;
            background-color: #3969fd;
            position: absolute;
            left: 0;
            bottom: -12px;
          }
        }
      }
    }
    .tab-body {
      line-height: 28px;
      .bd-item {
        display: none;
        &.on {
          display: block;
        }
        .i-bar {
          height: 45px;
          position: relative;
          img {
            position: absolute;
            top: 0;
          }
          span {
            font-size: 16px;
            position: absolute;
            top: 6px;
            left: 70px;
          }
        }
      }
      .bd-intro {
        padding: 30px;
      }
      .bd-timetable {
        .d-listen {
          li {
            border-bottom: 1px solid #ededed;
            padding: 10px 0 10px 26px;
            .head-icon {
              width: 44px;
              height: 25px;
              background: url(../images/sprites.png) -274px -112px;
              margin-right: 8px;
            }
            .head-text {
              font-size: 16px;
              color: #000000;
            }
            .head-btn {
              width: 10px;
              height: 7px;
              background: url("../images/sprites.png") -388px -346px;
              float: right;
              cursor: pointer;
              margin-top: 12px;
              margin-right: 18px;
              &.on {
                background: url("../images/sprites.png") -143px -301px;
              }
            }
          }
          .l-explain {
            padding-left: 58px;
            display: none;
            &.on {
              display: block;
            }
            .e-row {
              .row-c {
                width: 6px;
                height: 6px;
                background: url(../images/sprites.png) -247px -177px;
                margin-right: 6px;
              }
              .row-key {
                width: 76%;
              }
              .row-val {
                color: #999999;
                margin-right: 10px;
              }
              .row-play {
                width: 14px;
                height: 12px;
                background: url("../images/sprites.png") -431px -77px;
              }
              .row-pause {
                width: 16px;
                height: 16px;
                background: url("../images/sprites.png") -122px -374px;
              }
            }
          }
        }
      }
      .bd-evaluate {
        li {
          padding: 20px 0;
          @extend %clearfix;
        }
        .avatar {
          float: left;
          margin-right: 20px;
          border-radius: 50%;
        }
        .e-detail {
          float: left;
          width: 86%;
          .d-name {
            font-size: 16px;
            font-weight: bold;
          }
          .d-text {
            line-height: 22px;
          }
        }
      }
      .bd-student {
        li {
          border-bottom: 1px dotted #c1c1c1;
          &:last-child {
            border-bottom: none;
          }
        }
        .e-detail {
          .d-name {
            font-size: 14px;
            color: #999999;
            font-weight: normal;
          }
          .d-tiem {
            font-size: 12px;
            color: #999999;
            float: right;
          }
        }
      }
    }
  }

  .cont-r {
    float: left;
    width: 372px;
    @extend .bc-br;
    .an-text {
      -webkit-line-clamp: 3;
    }
  }
}

/* 订单中心 */

.order-head {
  // height: 78px;
  line-height: 30px;
  background: url(../images/o-1.png) no-repeat;
  margin: 26px 0 19px;
  padding: 24px;
  box-sizing: border-box;
  @extend %clearfix;
  .h-l {
    float: left;
    font-size: 24px;
    font-weight: bold;
  }
  .h-r {
    float: right;
    ul {
      @extend %clearfix;
      li {
        float: left;
        margin-left: 8px;
        .num {
          width: 30px;
          height: 30px;
          line-height: 30px;
          border: solid 1px #cdcdcd;
          text-align: center;
          border-radius: 50%;
        }
        .text {
          padding-right: 80px;
          position: relative;
          &::after {
            content: "";
            width: 73px;
            height: 1px;
            background-color: #e7e7e7;
            position: absolute;
            top: 50%;
            right: 0;
          }
        }
        &.on {
          .num {
            border: none;
            background-image: linear-gradient(-90deg, #ff5e2c 0%, #ffa88d 100%);
            box-shadow: 0px 4px 20px 0px rgba(255, 148, 116, 0.51);
            color: #fff;
          }
          .text {
            color: #ff5e2c;
            font-weight: bold;
          }
        }
        &:last-child {
          .text {
            padding-right: 0;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

// 确定收货地址
.order-address {
  @extend .bc-br;
  padding: 24px;
  margin-bottom: 22px;
  .bw-sctitle {
    .add {
      float: right;
      color: #2459fc;
      cursor: pointer;
      i {
        width: 15px;
        height: 15px;
        background: url("../images/sprites.png") -264px -374px;
        margin-right: 6px;
      }
    }
  }
  .a-all {
    padding: 20px 0;
    .a-bar {
      line-height: 37px;
      .icon-c {
        width: 14px;
        height: 14px;
        background: url("../images/sprites.png") -369px -374px;
        margin-right: 10px;
      }
      .bar-r {
        float: right;
      }
      .type {
        color: #999999;
        margin-right: 20px;
      }
      .icon-fix {
        width: 13px;
        height: 11px;
        background: url("../images/sprites.png") -431px -271px;
      }
      .fix {
        cursor: pointer;
      }
      &:hover {
        background-color: #f5f5f5;
        .icon-c {
          background: url("../images/sprites.png") -431px -10px;
        }
      }
    }
  }
  .order-msg {
    margin-bottom: 40px;
    .msg-head {
      background-color: #f5f5f5;
      line-height: 37px;
      font-weight: bold;
    }
    ul {
      @extend %clearfix;
      text-align: center;
    }
    li {
      float: left;
      width: 20%;
      &:first-child {
        width: 28%;
      }
      &:nth-of-type(3) {
        width: 14%;
      }
      &:last-child {
        width: 14%;
      }
    }
    .msg-item {
      line-height: 28px;
      padding-top: 14px;
      border: solid 1px #e6e6e6;
      ul {
        margin-bottom: 14px;
      }
      .bg {
        width: 60px;
        height: 60px;
        margin-right: 10px;
      }
      .i-name {
        width: 202px;
        text-align: left;
        line-height: 22px;
        padding-top: 10px;
      }
      .text {
        padding-top: 20px;
      }
      select {
        width: 158px;
        height: 26px;
        border-radius: 4px;
        border: solid 1px #dadada;

        text-indent: 0;
        padding: 0 1rem;
        box-sizing: border-box;
        background: url(../images/sel.png) no-repeat 94%;
      }
      .price {
        color: #ff5e2c;
        padding-top: 20px;
        .num {
          font-size: 18px;
        }
      }
    }
  }
  .p-detail {
    height: 177px;
    background-color: #f5f5f5;
    padding: 23px 25px;
    box-sizing: border-box;
    font-size: 16px;
    ul {
      @extend %clearfix;
      text-align: center;
    }
    li {
      width: 198px;
      float: left;
      height: 47px;
      line-height: 38px;
      background-color: #ffffff;
      border-radius: 4px;
      border: solid 1px #dadada;
      box-sizing: border-box;
      margin-right: 28px;
    }
    .d-wechat {
      i {
        width: 23px;
        height: 23px;
        background: url("../images/sprites.png") -388px -10px;
      }
    }
    .d-alipay {
      i {
        width: 21px;
        height: 21px;
        background: url("../images/sprites.png") -388px -263px;
      }
    }
    .on {
      border: solid 1px #ff5e2c;
    }
  }
  .order-tcp {
    @extend %clearfix;
    padding-top: 46px;
    .t-l {
      float: left;
      line-height: 28px;
    }
    .protocol {
      color: #4a76fe;
      cursor: pointer;
    }
    .t-r {
      float: right;
      font-size: 20px;
      color: #ff5e2c;
    }
    .sum {
      margin-right: 40px;
      font-weight: bold;
    }
    .bw-btn {
      padding: 0 34px;
      line-height: 47px;
      border-radius: 24px;
      color: #ffffff;
    }
  }
}

/* 直播 */

// 正在直播
.live-in {
  @extend .bc-br;
  padding: 24px;
  margin: 20px 0 32px;
  @extend %clearfix;
  .in-l {
    float: left;
    width: 520px;
    height: 320px;
    margin-right: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .in-r {
    float: left;
    width: 590px;
    .r-hot {
      @extend %clearfix;
      margin-bottom: 10px;
      .h-name {
        float: left;
        font-size: 22px;
        font-weight: bold;
      }
      .h-ap {
        float: right;
        height: 28px;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px #275bfc;
        box-sizing: border-box;
        color: #2559fd;
        text-align: center;
        padding: 0 8px;
        .ap-icon {
          width: 14px;
          height: 12px;
          background: url("../images/sprites.png") -431px -77px;
        }
      }
    }
    .r-type {
      margin-bottom: 16px;
      .text {
        padding: 0 8px;
        line-height: 21px;
        background-color: #e8eefe;
        border-radius: 4px;
        color: #4464c5;
        vertical-align: top;
        margin-right: 8px;
      }
      .feel {
        width: 48px;
        height: 26px;
        background: url("../images/sprites.png") -139px -83px;
      }
    }
    .r-title {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .r-time {
      padding: 0 18px;
      line-height: 34px;
      background-color: #f5f5f5;
      color: #999999;
      margin-bottom: 20px;
      .text {
        color: #444444;
        margin-left: 16px;
      }
    }
    .r-tea {
      @extend %clearfix;
      .avatar {
        float: left;
        width: 68px;
        margin-right: 16px;
        text-align: center;
        img {
          border-radius: 50%;
        }
        .a-name {
          font-weight: bold;
          padding-top: 10px;
        }
      }
      .t-text {
        float: left;
        width: 85%;
      }
    }
  }
}

// 往期精选
.live-past {
  ul {
    @extend %clearfix;
    padding-top: 16px;
    margin-right: -20px;
    li {
      float: left;
      width: 284px;
      line-height: 28px;
      padding: 20px 20px 10px 20px;
      box-sizing: border-box;
      @extend .bc-br;
      margin-right: 20px;
      margin-bottom: 20px;
      &:hover {
        box-shadow: 0px 0px 12px 0px rgba(148, 148, 148, 0.31);
      }
      .p-hot {
        i {
          width: 12px;
          height: 12px;
          background: url("../images/sprites.png") -431px -239px;
        }
      }
      .h-time {
        color: #999999;
      }
      .h-num {
        float: right;
        font-size: 12px;
        line-height: 23px;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        padding-right: 7px;
        .n-sum {
          background-image: linear-gradient(90deg, #2358fc 0%, #517cff 100%);
          border-radius: 12px;
          padding: 0 7px;
          margin-right: 7px;
        }
      }
      .p-title {
        font-size: 16px;
        // white-space : nowrap;
        clear: both;
      }
      .p-tag {
        color: #4464c5;
        height: 68px;
        span {
          padding: 0 8px;
          background-color: #e8eefe;
          border-radius: 4px;
        }
      }
      .p-playback {
        @extend %clearfix;
        .p-l {
          float: left;
          width: 70px;
          font-size: 12px;
          color: #666666;
          text-align: center;
        }
        .p-r {
          float: right;
          padding: 0 32px;
          line-height: 36px;
          border-radius: 4px;
          border: solid 1px #ff5e2c;
          box-sizing: border-box;
          font-size: 16px;
          color: #ff5e2c;
          margin-top: 30px;
          &:hover {
            border: none;
            background-image: linear-gradient(90deg, #ff5e2c 0%, #ff9d7e 100%);
            color: #fff;
          }
        }
      }
    }
  }
}

/* 直播间 */

.liveroom-in {
  @extend %clearfix;
  padding-top: 20px;
  .in-l {
    float: left;
    width: 920px;
    height: 562px;
  }
  .in-r {
    float: left;
    width: 280px;
    height: 560px;
    background-color: #ffffff;
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative;
  }
  .r-chat {
    padding: 10px 0 10px 6px;
    display: none;
    &.on {
      display: block;
    }
    .c-row {
      line-height: 31px;
      .row-k {
        color: #666666;
        vertical-align: top;
      }
      .row-v {
        color: #000000;
        width: 70%;
      }
    }
    .stress {
      .row-k {
        color: #3969fd;
      }
      .row-v {
        color: #3969fd;
      }
    }
  }
  .r-notice {
    display: none;
    &.on {
      display: block;
    }
    .n-row {
      @extend %clearfix;
      padding-top: 20px;
    }
    .row-icon {
      float: left;
      width: 20px;
      height: 20px;
      background: url(../images/n_1.png) no-repeat;
      margin-right: 6px;
      margin-top: 4px;
    }
    .row-v {
      float: left;
      width: 86%;
      line-height: 24px;
      .buy {
        color: #3969fd;
        text-decoration: underline;
      }
    }
  }
  .r-send {
    width: 100%;
    height: 44px;

    position: absolute;
    bottom: 0;
    left: 0;
    input {
      line-height: 44px;
    }
    input[type="text"] {
      width: 218px;
      border-top: 1px solid #e6e6e6;
      box-sizing: border-box;
    }
    input[type="submit"] {
      padding: 0 14px;
      color: #fff;
      background-image: linear-gradient(#305ce3, #305ce3), linear-gradient(90deg, #2358fc 0%, #517cff 100%);
    }
  }
}

/* 题库 */

.tk-tab {
  @extend %clearfix;
  padding-top: 20px;
  margin-bottom: 30px;
  .tab-sidebar {
    float: left;
    width: 284px;
    margin-right: 20px;
    .s-switch {
      padding: 30px 15px 30px 16px;
      box-sizing: border-box;
      height: 82px;
      background: url(../images/tk_1.png) no-repeat;
      margin-bottom: 12px;
    }
    .s-text {
      font-size: 18px;
      font-weight: bold;
    }
    .s-link {
      float: right;
      color: #ff5e2c;
      margin-top: 2px;
      i {
        width: 15px;
        height: 11px;
        background: url("../images/sprites.png") -45px -414px;
        margin-right: 2px;
      }
    }
    li {
      background: #ffffff;
      font-size: 16px;
      color: #666666;
      a {
        width: 100%;
        padding: 18px 0 18px 63px;
        border-bottom: 1px solid #f5f5f5;
        box-sizing: border-box;
      }
      i {
        width: 26px;
        height: 26px;
        margin-right: 20px;
      }
      .ap {
        background: url("../images/sprites.png") -58px -252px;
      }
      .chapter {
        background: url("../images/sprites.png") -288px -252px;
      }
      .past {
        background: url("../images/sprites.png") -150px -252px;
      }
      .paper {
        background: url("../images/sprites.png") -342px -102px;
      }
    }
    .on {
      background-color: #eef3ff;
      color: #2365fc;
      position: relative;
      &::before {
        content: "";
        width: 4px;
        height: 63px;
        background-image: linear-gradient(0deg, #2365fc 0%, #5286fe 100%);
        position: absolute;
        left: 0;
        top: 0;
      }
      .ap {
        background: url("../images/sprites.png") -104px -252px;
      }
      .chapter {
        background: url("../images/sprites.png") -342px -10px;
      }
      .past {
        background: url("../images/sprites.png") -196px -252px;
      }
      .paper {
        background: url("../images/sprites.png") -342px -148px;
      }
    }
  }
  .tab-body {
    float: left;
  }
}

// 真题解析试听
.tk-parse {
  .bw-title {
    .more {
      float: right;
      font-size: 14px;
      color: #666666;
    }
  }
  ul {
    @extend %clearfix;
    padding-top: 20px;
    line-height: 28px;
    margin-right: -20px;
  }
  li {
    float: left;
    width: 284px;
    height: 182px;
    @extend .bc-br;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 16px 20px 10px 20px;
    box-sizing: border-box;
    position: relative;
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.51);
    }
  }
  .p-title {
    font-size: 16px;
  }
  .p-quality {
    color: #999999;
  }
  .p-tea {
    width: 86%;
    text-align: center;
    position: absolute;
    bottom: 6px;
    .t-l {
      float: left;
      width: 40px;
      font-size: 12px;
    }
    .t-r {
      float: right;
      color: #ff5e2c;
      cursor: pointer;
      i {
        width: 42px;
        height: 42px;
        background: url("../images/tk_4.png") no-repeat center;
      }
      span {
        display: block;
      }
      &:hover {
        i {
          width: 42px;
          height: 42px;
          background: url("../images/sprites.png") -212px -10px;
        }
      }
    }
  }
}

// 历年真题
.tk-past {
  ul {
    @extend %clearfix;
    padding-top: 20px;
    line-height: 28px;
    margin-right: -20px;
    text-align: center;
  }
  li {
    float: left;
    width: 284px;
    height: 220px;
    @extend .bc-br;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    box-sizing: border-box;
    position: relative;
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.51);
    }
  }
  .p-title {
    font-size: 18px;
    font-weight: bold;
  }
  .p-val {
    i {
      width: 13px;
      height: 12px;
      background: url("../images/sprites.png") -431px -141px;
      margin: 0 2px;
      &.gray {
        background: url("../images/sprites.png") -431px -109px;
      }
    }
  }
  .p-time {
    color: #999999;
    i {
      width: 12px;
      height: 12px;
      background: url("../images/sprites.png") -431px -239px;
      margin-right: 4px;
    }
  }
  .p-b {
    width: 78%;
    height: 30px;
    line-height: 26px;
    border: solid 1px #e6e6e6;
    padding-left: 25px;
    box-sizing: border-box;
    color: #999999;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    margin: auto;
    .btn {
      width: 107px;
      height: 28px;
      border: solid 1px #325aea;
      box-sizing: border-box;
      border-radius: 15px;
      color: #255afc;
      background: #ffffff;
      margin-left: 10px;
      &:hover {
        border: 1px solid transparent;
        color: #fff;
        background-image: linear-gradient(90deg, #2358fc 0%, #517cff 100%);
      }
    }
  }
}

// 模考试卷
.tk-exam {
  ul {
    @extend %clearfix;
    padding-top: 20px;
    line-height: 28px;
    margin-right: -20px;
  }
  li {
    float: left;
    width: 284px;
    @extend .bc-br;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 24px 14px 22px 16px;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0px 5px 10px 0px rgba(194, 194, 194, 0.51);
    }
    .bg {
      float: left;
      margin-right: 10px;
    }
  }
  .e-r {
    float: left;
    .r-title {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .p-val {
    line-height: 14px;
    i {
      width: 13px;
      height: 12px;
      background: url("../images/sprites.png") -431px -141px;
      margin: 0 2px;
      &.gray {
        background: url("../images/sprites.png") -431px -109px;
      }
    }
  }
  .e-btn {
    clear: both;
    text-align: right;
    a {
      height: 26px;
      line-height: 26px;
      padding: 0 12px;
      border-radius: 13px;
      border: 1px solid #ff5e2c;
      box-sizing: border-box;
      color: #ff5e2c;
      &:hover {
        border: none;
        color: #fff;
        background-image: linear-gradient(270deg, #ff5e2c 0%, #ffa88d 100%);
      }
    }
  }
}

/* 真题解析 */
.parse-switch {
  line-height: 31px;
  padding: 25px 24px 26px;
  box-sizing: border-box;
  background: url(../images/o-1.png) no-repeat;
  margin: 20px 0 12px;
  .s-text {
    font-size: 20px;
    font-weight: bold;
  }
  .s-link {
    float: right;
    padding: 0 14px;
    color: #ffffff;
    background-image: linear-gradient(270deg, #ff5e2c 0%, #ffa88d 100%);
    border-radius: 16px;
    i {
      width: 15px;
      height: 11px;
      background: url("../images/sprites.png") -10px -414px;

      margin-right: 2px;
    }
  }
}

/* 每日一练 */
.yl-tab {
  .tab-body {
    width: 896px;
    height: 510px;
    background: url(../images/yl_1.png) no-repeat;
    padding-top: 103px;
    box-sizing: border-box;
  }
  .b-title {
    text-align: center;
    margin-bottom: 26px;
    .text {
      font-size: 28px;
      margin-right: 20px;
    }
    .time {
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      color: #ff5e2c;
      border: solid 1px #ff5e2c;
      padding: 0 18px;
      box-sizing: border-box;
      border-radius: 22px;
    }
  }
  .b-week {
    margin-bottom: 36px;
    ul {
      @extend %clearfix;
      padding: 0 20px;
    }
    .en {
      width: 100%;
      font-size: 16px;
      color: #999999;
      margin-bottom: 20px;
    }
    .num {
      font-size: 18px;
      color: #333333;
    }
    li {
      float: left;
      width: 69px;
      height: 117px;
      margin: 0 25px;
      text-align: center;
      padding: 26px 0;
      box-sizing: border-box;
      &:hover {
        .en,
        .num {
          color: #ff5e2c;
        }
      }
    }
    .today {
      background-color: #fff7f5;
      border-radius: 35px;
      border: solid 1px #ff5e2c;
      .en,
      .num {
        color: #ff5e2c;
      }
    }
  }
  .b-people {
    line-height: 30px;
    padding: 26px 83px 26px 113px;
    box-sizing: border-box;
    .p-time {
      font-size: 18px;
      color: #ffffff;
      margin-right: 28px;
    }
    .p-num {
      color: #d5e3fe;
    }
    .do {
      float: right;
      padding: 0 20px;
      height: 30px;
      background-color: #ffffff;
      border-radius: 15px;
    }
  }
}

/* 章节练习 */
.lx-tab {
  .tab-body {
    width: 896px;
    height: 716px;
    @extend .bc-br;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .b-item {
    .h-name {
      margin-right: 20px;
      font-size: 16px;
    }
    .degree{
      font-size: 12px;
      color: #999999;
    }
    .i-head {
      border-bottom: 1px dotted #c1c1c1;
      line-height: 60px;
      .h-name{
        font-weight: bold;
      }
      .icon-hide {
        width: 22px;
        height: 22px;
        background: url("../images/sprites.png") -388px -95px;
        margin-right: 14px;
      }
    }
    .i-detail {
      padding-left: 30px;
    }
    .d-head {
      line-height: 54px;
      border-bottom: 1px dotted #c1c1c1;
      
      .icon-hide {
        width: 18px;
        height: 18px;
        background: url("../images/sprites.png") -222px -330px;
        margin-right: 17px;
      }
    }
  }
}
